* {
    font-family: monospace;
    font-size: large;
}

body {
    margin: 0;
    height: 100vh;

    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 0 64px;

    background-color: #1F2937;
}

    header > h1 > a,
    nav > h1 > ul > li > a {
        color: #F9FAF8;
        font-size: x-large;
        text-decoration: none;
    }
        header > h1 > a:hover,
        nav > h1 > ul > li > a:hover {
            color: #A5A9AF;
        }

    nav > h1 > ul {
        display: flex;
        gap: 2em;
    }
        nav > h1 > ul > li {
            list-style: none;
        }

.body-container {
    display: flex;
    flex-direction: row;
    flex: 1;

    gap: 2em;
}
    .content-container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }
        .preview-container {
            display: flex;
            flex-direction: row;
            

            padding: 32px 64px;
            gap: 2em;

            background-color: #E9E8EB;
        }
            .left-preview-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                width: 50%;
            }
                .left-preview-container > h2 {
                    margin: 0;
                }
                .left-preview-container > p {
                    font-size: large;
                }
                .left-preview-container > form > input {
                    background-color: #FF0000;
                    border: none;
                    border-radius: 4px;
                    color: #F9FAF8;
                    font-family: monospace;
                    font-size: large;

                    padding: 8px 16px;
                }
                    .left-preview-container > form > input:hover {
                        cursor: pointer;
                        background-color: #CC0000;
                    }
            .right-preview-container {
                display: flex;
                justify-content: center;
                
                width: 50%;

                margin: 0;
            }
    .review-text-container {
        padding: 32px 64px;
        
        background-color: #F9FAF8;
    }
        .review-text-container > p {
            font-size: large;
    }
            .review-text-container > p:first-child {
                opacity: 50%;
            }

footer {
    display: flex;
    justify-content: center;
    gap: 32px;

    padding: 32px 0px;
}
    footer > a {
        color: #F9FAF8;
        text-decoration: none;
        font-size: large;
    }
        footer > a:hover {
            color: #A5A9AF;
        }

/*  *****   SCREEN SIZE ADJUSTMENTS *****  */
/* Replaces video embed with link to video for screen sizes < 460px width */
@media screen and (max-width: 460px) {
    header {
        flex-direction: column;
        align-items: center;
    }
        nav > h1 > ul {
            display: block;
            text-align: center;
            padding: 0;
        }
    .preview-container {
        flex-direction: column;
    }
        .left-preview-container,
        .right-preview-container {
            align-items: center;
            text-align: center;

            width: 100%;
        }
            .subscribe-button,
            .yt-embed {
                display: none;
            }
}
/* 0px to 766px - moves video below description */
@media screen and (min-width: 461px) and (max-width: 766px) {
    header {
        flex-direction: column;
        align-items: center;
    }
        nav > h1 > ul {
            display: block;
            text-align: center;
            padding: 0;
        }
    .preview-container {
        flex-direction: column;
    }
        .left-preview-container,
        .right-preview-container {
            align-items: center;
            text-align: center;

            width: 100%;
        }
            .yt-video-button {
                display: none;
            }
                .yt-embed {
                    height: 360px;
                    width: 100%;
                }
}
/* Adjusts video width based on screen width */
/* 768px to 1080px */
@media screen and (min-width: 767px) {
    .left-preview-container {
        width: 33%;
    }
    .right-preview-container {
        width: 66%;
        align-items: center;
    }
        .yt-video-button {
            display: none;
        }
            .yt-embed {
                height: 360px;
                width: 100%;
            }
}
/* 1080px to 1439px */
@media screen and (min-width: 1079px) {
    .yt-embed {
        height: 480px;
        width: 100%;
    }
        .yt-video-button {
            display: none;
        }
}
/* 1080px to 1440 */
@media screen and (min-width: 1439px) {
    .left-preview-container {
        width: 40%;
    }
    .right-preview-container {
        width: 60%;
        align-items: center;
    }
        .yt-video-button {
            display: none;
        }
            .yt-embed {
                height: 640px;
                width: 100%;
        }
}


.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}